body {
  min-height: 1000px;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #0C4B33;
  border-color: #18895E;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #777;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #999;
}

.navbar-default .navbar-toggle {
	border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: #18895E !important;
}

.navbar-toggle {
	background-color: #0C4B33 !important;
}

.navbar-default .btn-default {
  color: #0C4B33;
  background: #18895E;
  border-color: #0C4B33;
  border-color: #18895E;
}

.navbar-default .form-control
{
  background-color: #0C4B33;
  border-color: #18895E;
}